* {
    box-sizing: border-box;
    margin: 20px;
    font-family: Verdana, sans-serif;
  }
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none; /* убираем маркеры */
}
.menu_buttons {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 10px;
    background-color: #007BFF;
    border-radius: 5px; /* скругление углов */
}
.menu_buttons_text {
    text-decoration: none;
    text-align: center;
    color: black;
}
.footer_class{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}